
<app-header></app-header>


  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Article Details</h2>

   

      <div class="row">
         <div class="col-6">
            <div class="input-group mb-3">
                <span class="input-group-text">Search</span> 
                <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" >
              </div>
         </div>
         <div class="col-6"> 
            <div class="btn-group" role="group">
                <span  class="input-group-text">Sort By</span>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="name" [(ngModel)]="orderBy" (ngModelChange)="sortArticle()" >
                <label class="btn btn-outline-primary" for="btnradio1">Name</label>
              
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="text" [(ngModel)]="orderBy" (ngModelChange)="sortArticle()" >
                <label class="btn btn-outline-primary" for="btnradio2">Article Text</label>
               
              </div>
      </div>
      <button class="btn btn-success" (click)="uiArticleArray.push(uiArticleArray[1])">Add {{uiArticleArray[1].owner.firstName}}</button>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1">

         <!-- <ng-template ngFor let-article [ngForOf]="articleArray" let-i="index" let-e="even" >
            <li>{{article.text}} --{{i}} -- {{e}}</li>
          </ng-template> -->

         

      <div class="col" *ngFor="let article of uiArticleArray | searchPipe:searchTerm; let i=index; let even = even;let odd=odd; let count = count">
        <!-- {{i}}  <br/> {{odd}} <br/> {{even}} -->
          {{count}}  
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="article.image" [ngStyle]="{'height':'100%','width':'100%'}" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body" >
                  <h5 class="card-title">{{article.owner.firstName}} {{article.owner.lastName}}</h5>
                  <p class="card-text" style="height: 120px;overflow: hidden;">{{article.text}}</p>
                  <p class="list-group-item text-danger">Tags: {{article.tags}}</p>
                  <p class="card-text" style="height: 50px;overflow: hidden;"><small class="text-muted"> 
                   Last updated {{article.publishDate | date: 'fullDate' }}
                  </small></p>
                </div>
              </div>
            </div>
          </div>

           
      </div>

      
    </div>
  </div>